<div class=" container-fluid">
  <footer class="text-white py-4">
    <div class="soical">
      <a href="https://www.linkedin.com/in/walied-gamal-81049b115/" target="blank"> <i class="bi bi-linkedin"> </i></a>
      <a href="https://github.com/waliedGamal" target="blank"><i class="bi bi-github"></i></a>
      <a href="https://mail.google.com/mail/u/1/?view=cm&fs=1&to=waliedgamal78@gmail.com" title="waliedgamal78@gmail.com" target="blank"><i class="bi bi-google"></i></a>
    </div>
    <div class="mt-2">
      <h3>Playground© 2021 By <span>Walied Gamal</span>. All rights reserved</h3>
      <h3>Designed and Built by me, Data provided by <a title="The Movie DB" href="https://www.themoviedb.org/">TMDB</a> </h3>
    </div>
</footer>

</div>
