<div class=" container pt-3">
  <div class="row pt-5">
      <h1 class="pt-3 text-white">Movies</h1>
      <div class="col-md-3 col-sm-6 pt-3" *ngFor="let movie of TrendingMovies ">
          <div [routerLink]="['/detalis/movie-detalis',movie.id]" class="position-relative">
            <img *ngIf="movie.poster_path" class="img-fluid" [src]=" prefixPath + movie.poster_path">
            <img *ngIf="!movie.poster_path" class="rounded img-fluid" src="../../../assets/images/not-avail.png">
              <div class="movie d-flex ">
                  <div class="vote2 rounded-pill pt-1 text-center position-absolute"> <i class="bi bi-star-fill"></i> {{movie.vote_average}} </div>
                  <div>
                      <h3 class="ps-2 text-white"> {{movie.original_title}} </h3>
                    </div>
              </div>
          </div>
      </div>
  </div>

<div class="py-5">
  <p-paginator  [rows]="10" [totalRecords]="5000" (onPageChange)="getpage($event.page)">
  </p-paginator>
</div>

</div>
