

<div class="log-background">
  <div class=" container vh-100 d-flex justify-content-center align-items-center">
    <form class="mx-auto w-50" [formGroup]="signupform" (ngSubmit)="signup(signupform)" >
      <div class="row">
          <div class="py-2 col-md-6">
            <input type="text" placeholder="First Name" class=" form-control" formControlName="first_name"
            [class.is-valid]="signupform.get('first_name')?.valid && signupform.get('first_name')?.touched"
            [class.is-invalid]="signupform.get('first_name')?.invalid && signupform.get('first_name')?.touched">
            <div *ngIf="signupform.get('first_name')?.errors && signupform.get('first_name')?.touched">
                <p class="text-danger" *ngIf="signupform.get('first_name')?.errors?.['required']"> First Name is Required</p>
                <p class="text-danger" *ngIf="signupform.get('first_name')?.errors?.['minlength']">min Length is 3 </p>
                <p class="text-danger" *ngIf="signupform.get('first_name')?.errors?.['maxlength']">Max Length 8</p>
            </div>

          </div>

          <div class="py-2 col-md-6">
              <input type="text" formControlName="last_name" placeholder="Last Name" class=" form-control"
              [class.is-valid]="signupform.get('last_name')?.valid && signupform.get('last_name')?.touched"
              [class.is-invalid]="signupform.get('last_name')?.invalid && signupform.get('last_name')?.touched">
              <div *ngIf="signupform.get('last_name')?.errors && signupform.get('last_name')?.touched">
                <p class="text-danger" *ngIf="signupform.get('last_name')?.errors?.['required']"> First Name is Required</p>
                <p class="text-danger" *ngIf="signupform.get('last_name')?.errors?.['minlength']">min Length is 3 </p>
                <p class="text-danger" *ngIf="signupform.get('last_name')?.errors?.['maxlength']">Max Length 8</p>
            </div>
          </div>

      </div>

          <div class="py-2 col-md-12">
            <input type="number" formControlName="age" placeholder="Enter Your Age" class=" form-control"
            [class.is-valid]="signupform.get('age')?.valid && signupform.get('age')?.touched"
            [class.is-invalid]="signupform.get('age')?.invalid && signupform.get('age')?.touched">
            <div *ngIf="signupform.get('age')?.errors && signupform.get('age')?.touched">
              <p class="text-danger" *ngIf="signupform.get('age')?.errors?.['required']"> Age is Required</p>
              <p class="text-danger" *ngIf="signupform.get('age')?.errors?.['min']">min age is 18 </p>
              <p class="text-danger" *ngIf="signupform.get('age')?.errors?.['max']">Max age is 80</p>
          </div>
          </div>

          <div class="py-2 col-md-12">
            <input type="email" formControlName="email" placeholder="Enter Your Email" class=" form-control"
            [class.is-valid]="signupform.get('email')?.valid && signupform.get('email')?.touched"
            [class.is-invalid]="signupform.get('email')?.invalid && signupform.get('email')?.touched">
            <div *ngIf="signupform.get('email')?.errors && signupform.get('email')?.touched">
              <p class="text-danger " *ngIf="signupform.get('email')?.errors?.['required']"> Email is Required</p>
              <p class="text-danger" *ngIf="signupform.get('email')?.errors?.['email']">  Email is Invaid</p>
          </div>
          <div *ngIf="error" class="text-danger mt-2"> {{error}} </div>
      </div>

      <div class="py-2 col-md-12">
        <input type="password" formControlName="password" placeholder="Password" class=" form-control"
        [class.is-valid]="signupform.get('password')?.valid && signupform.get('password')?.touched"
        [class.is-invalid]="signupform.get('password')?.invalid && signupform.get('password')?.touched">
        <div *ngIf="signupform.get('password')?.errors && signupform.get('password')?.touched"   >
          <p class="text-danger" *ngIf="signupform.get('password')?.errors?.['required']">password is Required</p>
          <p class="text-danger" *ngIf="signupform.get('password')?.errors?.['pattern']">password must start with an uppercase letter & min Length is 8  </p>
        </div>
      </div>

      <div class="col-md-12">
          <button type="submit" [disabled]="signupform.invalid || signupform.pending || loading" class="btn btn-primary form-control mt-4"> Register
              <span class="d-inline-block float-end" *ngIf="loading">
                <mat-spinner [diameter]="25"></mat-spinner>
                </span>
            </button>
      </div>
    </form>
  </div>
</div>

